<mat-card>
  <mat-card-header>
    <mat-card-title>{{ animal?.name }}</mat-card-title>
    <mat-card-subtitle>{{ animal?.espece }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="animal?.picture" [alt]="animal?.name" />
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        {{ animal?.naissance | date: "MMM d, y, h:mm:ss a" }}
      </mat-list-item>
      <mat-list-item role="listitem">
        {{ animal?.veterinaire }}
      </mat-list-item>
      <mat-list-item role="listitem" appUppercase>
        {{ animal?.commentaire | truncate: 10 }}
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
