<form [formGroup]="veterinaireFormGroup" (submit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      formControlName="name"
      required
      minlength="3"
      placeholder="Ex. Mr Smith"
    />
    <div *ngIf="isSubmitted">
      <mat-error
        align="start"
        *ngIf="veterinaireFormGroup.get('name').errors?.required"
      >
        Ce champs est obligatoire
      </mat-error>
      <mat-error
        align="end"
        *ngIf="veterinaireFormGroup.get('name').errors?.minlength"
      >
        {{ veterinaireFormGroup.get("name").errors?.minlength.actualLength }} /
        {{ veterinaireFormGroup.get("name").errors?.minlength.requiredLength }}
      </mat-error>
    </div>
  </mat-form-field>

  <button mat-button type="submit">Submit</button>
</form>
