<form [formGroup]="veterinaireFormGroup" (submit)="onSubmit()">
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name" />
  <div *ngIf="isSubmitted">
    <p *ngIf="veterinaireFormGroup.get('name').errors?.required">
      Ce champs est obligatoire
    </p>
    <p *ngIf="veterinaireFormGroup.get('name').errors?.minlength">
      Ce champs doit avoir au moins
      {{ veterinaireFormGroup.get("name").errors?.minlength.requiredLength }}
      caractères, vous en avez saisie seulement
      {{ veterinaireFormGroup.get("name").errors?.minlength.actualLength }}
    </p>
  </div>

  <br />

  <button type="submit">Submit</button>
</form>
