<form (submit)="onSubmit()">
  <label for="name">Name :</label>
  <input id="name" name="name" type="text" [(ngModel)]="animal.name" />
  <br />

  <label for="naissance">Naissance :</label>
  <input
    id="naissance"
    name="naissance"
    type="number"
    [(ngModel)]="animal.naissance"
  />
  <br />

  <label for="espece">Espece :</label>
  <input id="espece" name="espece" type="text" [(ngModel)]="animal.espece" />
  <br />

  <label for="veterinaire">Veterinaire :</label>
  <input
    id="veterinaire"
    name="veterinaire"
    type="text"
    [(ngModel)]="animal.veterinaire"
  />
  <br />

  <label for="commentaire">Commentaire :</label>
  <input
    id="commentaire"
    name="commentaire"
    type="text"
    [(ngModel)]="animal.commentaire"
  />
  <br />

  <label for="picture">Picture :</label>
  <input id="picture" name="picture" type="url" [(ngModel)]="animal.picture" />
  <hr />

  <button type="submit">Submit</button>
</form>
