<form>
  <label for="name">Name :</label>
  <input id="name" name="name" type="text" />
  <br />

  <label for="naissance">Naissance :</label>
  <input id="naissance" name="naissance" type="number" />
  <br />

  <label for="espece">Espece :</label>
  <input id="espece" name="espece" type="text" />
  <br />

  <label for="veterinaire">Veterinaire :</label>
  <input id="veterinaire" name="veterinaire" type="text" />
  <br />

  <label for="commentaire">Commentaire :</label>
  <input id="commentaire" name="commentaire" type="text" />
  <br />

  <label for="picture">Picture :</label>
  <input id="picture" name="picture" type="url" />
  <hr />

  <button type="submit">Submit</button>
</form>
